<mat-toolbar color="primary">
  <span>{{title}} Del Estudiante</span>
  <div style="align-items: center">
    <button mat-button [matMenuTriggerFor]="menu" >Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">
        <mat-icon>done</mat-icon>
        <span>Transferencias</span>
      </button>
      <button mat-menu-item (click)="tipocambio()">
        <mat-icon>attach_money</mat-icon>
        <span>Tipo de Cambio</span>
      </button>
      <button mat-menu-item (click)="loginout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item  (click)="transferencias()">
        <mat-icon>compare_arrows</mat-icon>
        <span>Realizar</span>
      </button>
      <button mat-menu-item (click)="reportes()">
        <mat-icon>bookmarks</mat-icon>
        <span>Reporte</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>

